{#
/**
 * @file
 * Bloch theme's implementation to display a node Publication.
 *
 */
#}
<article class="container node publication">

  <header class="hidden-lg hidden-xl">
    {{ label }}
    {% if node.field_sous_titre %}
      <h2>{{ node.field_sous_titre.value }}</h2>
    {% endif %}
  </header>

  <aside class="col-left">

    <figure class="img-container">
      {{ content.field_visuel.0 }}
    </figure>

    {# Information column #}
    <div class="col-infos">

      {# Type at the top of left column
        This requires twig_field_value module to render correctly #}
      <h3>{{ content.field_type_de_publication|field_value }}</h3>

      {% if node.field_date_de_parution.value %}
        <div class="infos-bloc">
          <div class="infos-bloc-icone">
            <span class="fa fa-calendar fa-fw"></span>
          </div>
          <div class="infos-bloc-texte">
            <span class="infos-intitule">Date de parution :</span>
            {{ node.field_date_de_parution.value|format_date("d/m/Y") }}
          </div>
        </div>
      {% endif %}

      {% if node.field_editeur.title %}
        <div class="infos-bloc">
          <div class="infos-bloc-icone">
            <span class="fa fa-globe fa-fw"></span>
          </div>
          <div class="infos-bloc-texte">
            <span class="infos-intitule">Éditeur :</span>
            <a href="{{ node.field_editeur.uri }}">{{ node.field_editeur.title }}</a>
          </div>
        </div>
      {% endif %}

      {% if node.field_collection.value %}
        <div class="infos-bloc">
          <div class="infos-bloc-icone">
            <span class="fa fa-book fa-fw"></span>
          </div>
          <div class="infos-bloc-texte">
            <span class="infos-intitule">Collection :</span>
            {{ node.field_collection.value }}
          </div>
        </div>
      {% endif %}

      {% if node.field_type_de_la_norme.value %}
        <div class="infos-bloc">
          <div class="infos-bloc-icone">
            <span class="fa fa-archive fa-fw"></span>
          </div>
          <div class="infos-bloc-texte">
            <span class="infos-intitule">{{ node.field_type_de_la_norme.value }} :</span>
            {{ node.field_numero_de_la_norme.value }}
          </div>
        </div>
      {% endif %}

      {% if node.field_piece_jointe.value %}
        <div class="infos-bloc">
          <div class="infos-bloc-icone">
            <span class="fa fa-file-download fa-fw"></span>
          </div>
          <div class="infos-bloc-texte">
            <span class="infos-intitule">A télécharger :</span>
            <ul>
              {% for pj in node.field_piece_jointe %}
                <li><a href="{{ pj.uri }}">{{ pj.description }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}

    </div>
  </aside>

  <div class="col-right">
    <header class="hidden-sm hidden-md">
      {{ label }}
      {% if node.field_sous_titre %}
        <h2>{{ node.field_sous_titre.value }}</h2>
      {% endif %}

      {# Authors display
         Will probably be done through a view pointing to users in the final architecture #}
      <h3>
        {% if node.field_direction_d_ouvrage.value %}
          {{ node.field_direction_d_ouvrage.value }}
        {% else %}
          {% set first = true %}
          {% if node.field_auteurs.value %}
            {% for auteur in node.field_auteurs %}
              {% if first != true %}
                , 
              {% endif %}
              {% set first = false %}
              {{ auteur.value }}
            {% endfor %}
          {% endif %}
          {% if node.field_auteurs.value %}
            {% for auteur in node.field_auteurs_hors_ehess %}
              {% if first != true %}
                ,
              {% endif %}
              {% set first = false %}
              {{ auteur.value }}
            {% endfor %}
          {% endif %}
        {% endif %}
      </h3>
    </header>

    <div class="node-body">
      {{ content.body.0 }}
    </div>
  </div>
</article>

