{#
/**
 * @file
 * Bloch's theme implementation to display a node.
 */
#}
<article class="container node soutenance">

  {# Title header for mobile display #}
  <header class="hidden-lg hidden-xl">
    <h1>
      {{ label }}
    </h1>
  </header>

  <aside class="col-left">

    {# Information column #}
    <div class="col-infos">

      {# Event type at the top of left column
         This requires twig_field_value module to render correctly #}
      <h3>{{ content.field_type_de_soutnenace|field_value }}</h3>

      {# Dates of the event #}
      <div class="infos-bloc">
        <div class="infos-bloc-icone">
          <span class="fa fa-calendar-alt fa-fw"></span>
        </div>
        <div class="infos-bloc-texte">
          <ul>
            {% for date in node.field_date %}
              {% if date.value|date("l j F Y") == date.end_value|date("l j F Y") %}
                <li>Le {{ date.value|date('U')|format_date("custom", "l j F Y") }} de {{ date.value|date('U')|format_date("custom", "G:i") }} à  {{ date.end_value|date('U')|format_date("custom","G:i") }}</li>
              {% else %}
                <li>Du {{ date.value|date('U')|format_date("custom","l j F Y") }} {{ date.value|date('U')|format_date("custom","G:i") }} au {{ date.end_value|date('U')|format_date("custom","l j F Y") }} {{ date.end_value|date('U')|format_date("custom","G:i") }}</li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>

      {# Places of the event #}
      {% if node.field_adresse.value %}
      <div class="infos-bloc">
        <div class="infos-bloc-icone">
          <span class="fa fa-calendar-alt fa-fw"></span>
        </div>
        <div class="infos-bloc-texte">
          <ul>
            {{ content.field_adresse }}
          </ul>
        </div>
      </div>
      {% elseif node.field_adresse_texte_brut %}
      <div class="infos-bloc">
        <div class="infos-bloc-icone">
          <span class="fa fa-map fa-fw"></span>
        </div>
        <div class="infos-bloc-texte">
          <ul>
            {% for item in node.field_adresse_texte_brut %}
              <li>{{ item.value }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
     
      {% if node.field_email.value %}
        <div class="infos-bloc">
          <div class="infos-bloc-icone">
            <span class="fa fa-envelope fa-fw"></span>
          </div>
          <div class="infos-bloc-texte">
            <span class="infos-intitule">Contact(s) :</span>
            <ul>
              {% for email in node.field_email %}
                <li><a href="mailto:{{ email.value }}">{{ email.value }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}

      {% if node.field_telephone.value %}
        <div class="infos-bloc">
          <div class="infos-bloc-icone">
            <span class="fa fa-phone fa-fw"></span>
          </div>
          <div class="infos-bloc-texte">
            <span class="infos-intitule">Téléphone(s) :</span>
            <ul>
              {% for telephone in node.field_telephone %}
                <li>{{ telephone.value }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}

      {% if node.field_piece_jointe.value %}
        <div class="infos-bloc">
          <div class="infos-bloc-icone">
            <span class="fa fa-file-download fa-fw"></span>
          </div>
          <div class="infos-bloc-texte">
            <span class="infos-intitule">A télécharger :</span>
            <ul>
              {% for pj in node.field_piece_jointe %}
                <li><a href="{{ pj.uri }}">{{ pj.description }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}

      {% if node.field_lien.value %}
        <div class="infos-bloc">
          <div class="infos-bloc-icone">
            <span class="fa fa-globe fa-fw"></span>
          </div>
          <div class="infos-bloc-texte">
            <span class="infos-intitule">A consulter :</span>
            <ul>
              {% for lien in node.field_lien %}
                <li><a href="{{ lien.uri }}">{{ lien.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}

    </div>

    {# if node.field_personnes.value #}
      <div class="col-infos participants">
        <h3>Participants</h3>
        {{ drupal_view('participants', 'block_1') }}
      </div>
    {# endif #}

  </aside>

  <div class="col-right">

    {# Main picture of the node, with its caption #}
    <figure class="img-container">
      <img src="{{ file_url(node.field_visuel[0].entity.uri.value) }}" alt="{{ node.field_visuel[0].alt  }}" />
      {% if node.field_legende.value %}
        <figcaption>{{ node.field_legende.value }}</figcaption>
      {% endif %}
    </figure>

    {# Title header for desktop display #}
    <header class="hidden-sm hidden-md">
      <h1>
        {{ label }}
      </h1>
      <h2>
        {{ node.field_sous_titre.value }}
      </h2>
    </header>

    <div class="node-body">
      {{ node.field_description.value|raw }}
    </div>

    {# Ces variables sont désormais passées en computed fields #}
    {% set partage_facebook = 'http://www.facebook.com/sharer/sharer.php?u=' ~ url('<current>')|render ~ '&t=' ~ node.label %}
    {% set partage_twitter = 'https://twitter.com/intent/tweet?url=' ~ url('<current>')|render ~ '&text=' ~ node.label %}
    <div class="node-partage">
      <h3>Partager</h3>
      <a href="{{ node.field_partage_facebook.value }}"><span class="fab fa-facebook-f"></span></a>
      <a href="{{ node.field_partage_twitter.value }}"><span class="fab fa-twitter"></span></a>
    </div>

    {% set first = true %}
    {% if node.field_mot_cle.value %}
      <div class="node-mot-cle">
        {% for mot_cle in node.field_mot_cle %}
          {% if not first %}
            -
          {% endif %}
          <a href="">{{ mot_cle.name }}</a>
          {% set first = false %}
        {% endfor %}
      </div>
    {% endif %}

    <hr>

    <h3>Contenus connexes</h3>
    {# Insertion d'une vue listant les contenus ayant les mêmes mots-clés / le même type de contenu / tous les contenus, par ordre décroissant de date de publication #}

  </div>

</article>
