{% for item in items %}
    {# The comment markups are here to avoid unwanted whitespaces at the beggining of the lines #}
    <li>{#
        #}{% if item.content['#field_collection_item'].get("field_date").value|date("d/m/Y") == item.content['#field_collection_item'].get("field_date").end_value|date("d/m/Y") %}{#
            #}Le {{ item.content['#field_collection_item'].get("field_date").value|date("d/m/Y") }}
            de {{ item.content['#field_collection_item'].get("field_date").value|date("H:i") }}
            à {{ item.content['#field_collection_item'].get("field_date").end_value|date("H:i") }}{#
        #}{% else %}{#
            #}Du {{ item.content['#field_collection_item'].get("field_date").value|date("d/m/Y") }}
            à {{ item.content['#field_collection_item'].get("field_date").value|date("H:i") }}
            <br/>au {{ item.content['#field_collection_item'].get("field_date").end_value|date("d/m/Y") }}
            à {{ item.content['#field_collection_item'].get("field_date").end_value|date("H:i") }}{#
        #}{% endif %}{#
        #},<br/>
        {% if item.content['#field_collection_item'].get("field_adresse").value[0].family_name is not null %}
            {{ item.content['#field_collection_item'].get("field_adresse").value[0].family_name }},
        {% endif %}
        {% if item.content['#field_collection_item'].get("field_adresse").value[0].address_line1 is not null %}
            {{ item.content['#field_collection_item'].get("field_adresse").value[0].address_line1 }}
        {% endif %}
        {% if item.content['#field_collection_item'].get("field_adresse").value[0].address_line2 is not null %}
            {{ item.content['#field_collection_item'].get("field_adresse").value[0].address_line2 }}
        {% endif %}
        {% if item.content['#field_collection_item'].get("field_adresse").value[0].locality is not null %}
            - {{ item.content['#field_collection_item'].get("field_adresse").value[0].locality }}
        {% endif %}
    </li>
{% endfor %}