{% for date_horaire in items %}
    {{ kint(date_horaire.content['#field_collection_item'].getFields()) }}
    <li>Du {{ date_horaire.content.field_date.value|date("l j F Y") }}
        <br/>au {{ date_horaire.content.getFieldCollectionItem().field_date.end_value|date("l j F Y") }}
        <br/>
        {% if date_horaire.content.getFieldCollectionItem().field_adresse.value[0].family_name is not null %}
            {{ date_horaire.content.getFieldCollectionItem().field_adresse.value[0].family_name }}<br/>
        {% endif %}
        {% if date_horaire.content.getFieldCollectionItem().field_adresse.value[0].address_line1 is not null %}
            {{ date_horaire.content.getFieldCollectionItem().field_adresse.value[0].address_line1 }}
        {% endif %}
        {% if date_horaire.content.getFieldCollectionItem().field_adresse.value[0].address_line2 is not null %}
            {{ date_horaire.content.getFieldCollectionItem().field_adresse.value[0].address_line2 }}
        {% endif %}
        {% if date_horaire.content.getFieldCollectionItem().field_adresse.value[0].locality is not null %}
            - {{ date_horaire.content.getFieldCollectionItem().field_adresse.value[0].locality }}
        {% endif %}
    </li>
{% endfor %}