{#
/**
 * @file
 * page--front.html.twig : Custom template of the site front page.
 * EHESS 2020 - David N. Brett / Richard Legrand
 * 
 * The following relies on the use of the Twig tweak markup.
 * Cheat sheet : https://www.drupal.org/docs/8/modules/twig-tweak/cheat-sheet
 */
#}
{{ page.header }}
<main role="main">
<section id="front-identity"> 
<h1 id="main-content">{{ page['#title'] }}</h1>
<p>{{ node.body.value }}</p>
{{ drupal_block('search_form_block') }}
{{ drupal_block('system_menu_block:menu-thematique') }}
{{ drupal_block('system_menu_block:vie-du-centre') }}
<footer id="frontSignature">
{{ drupal_entity('block', 'coordonneesducentre') }}
{{ drupal_entity('block_content', 3) }}
</footer>
</section>
</main>
<section id="front-content-aside">
<section>    
{{ drupal_view('contenus_page_accueil', 'principal') }}
</section>
<section>
{{ drupal_view('contenus_page_accueil', 'invites') }}
</section>
<section id="publications_front">
<header>Dernières publications de nos chercheurs</header>
{{ drupal_view('contenus_page_accueil', 'publications') }}
<footer class="voir-tous-front"><a href="#"><svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 24' style='enable-background:new 0 0 24 24;' xml:space='preserve'><style type='text/css'>.st0{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}</style><path class='st0' d='M14,4H1v18h20V11h1v12H0V3h14V4z M24,9h-1V2.7L11.4,14.4l-0.7-0.7L22.3,2H16V1h8V9z'/></svg> Voir toutes nos publications</a></footer>
</section>
<section id="infos_administratives">
<section id="appels_front">
<header>Nos derniers appels</header>
{{ drupal_view('contenus_page_accueil', 'appels') }}
</section>
<section id="soutenances_front">
<header>Nos prochaines soutenances</header>
{{ drupal_view('contenus_page_accueil', 'soutenances') }}
</section>
</section>
</section>